.*
*.o
tech_*
task_8_files/task_8
task_7_files/task_7
task_6_files/task_6
task_5_files/task_5
task_4_files/task_4
task_3_files/task_3
task_2_files/task_2
task_1_files/task_1
*.txt

!.gitignore 
!.gitkeep
